
*{
    margin: 0;
    padding: 0%;
}

.A{
    width: 500px; height: 500px; background-color: rgb(253, 126, 67);
}
.B{
    width: 50%; height: 50%; background-color: #6bf872;
}
.p1{
    color: white; background-color: red; font-size: 25px; font-family: monospace; font-weight: bold;
}
.D{
    width: 50%; height: 46vh; background-color: rgb(44, 143, 201)
}
.E{
    width: 75vh ; height: 50%; background-color: rgb(231, 46, 46);
}